{% load staticfiles %}

<!DOCTYPE hmtl>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>MPM Internetovy obchod</title>
        <link rel="stylesheet" href="{% static 'css/kontakt.css' %}">
</head>
    <body>
        <header>
            <Nadpis>Kontakt</Nadpis>
        </header>

<udaje>
Meno : Nikolas Csepregi<br>
Adresa : Vymyslena 37, Bratislava<br>
E-mail : vymyslena.adresa@gmail.com<br>
Telefonne cislo : 0901 234 567<br>
</udaje>

<footer>
Programovanie Internetovych Aplikacii 2017
|Nikolas Csepregi|Internetovy obchod
</footer>

    </body>
</html>

