{% load staticfiles %}

<!DOCTYPE hmtl>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>MPM Internetovy obchod</title>
        <link rel="stylesheet" href="{% static 'css/regformular.css' %}">
</head>
    <body>
        <header>
            <Nadpis>Registracia uzivatela</Nadpis>
        </header>

<udaje>
First name:  <input type="text" name="first_name" />
<br>
Last name:  <input type="text" name="last_name" />
</udaje>

<footer>
Programovanie Internetovych Aplikacii 2017
|Nikolas Csepregi|Internetovy obchod
</footer>

    </body>
</html>

